/local
/model_pv_data/.ipynb_checkpoints
/generate_data/csv
/generate_data/raw_data
/generate_data/santuario_raw_csv
/generate_data/csv_santuario_devs
/generate_data/solcor_raw_csv
/generate_data/solcor_csv_devs
/create_server/links_of_interes.txt
/fill_db/query_list.txt
/fill_db/.ipynb_checkpoints
/fill_db/santuario
/fill_db/santuario_query_list
/create_db/create_db.py
/HealthScan/local/
/HealthScan/.ipynb_checkpoints
/HealthScan/__pycache__
/HomeSense/local/
/generate_data/download/
/sunlogger/local/
/generate_data/procesado/
.secrets/

diagram/sunAIOS\.ldb

*.design
.DS_Store

.vscode
/postgres_data
__pycache__
/jenkins_home
/docker_files/

*.db
*.csv
*.xls
*.log
*.zip
*.pickle
*.xlsx
*.json
*.parquet
*.ipynb

aa_env_vars.sh
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
.aws

*db_credentials.ini
logs
py_env
